/* ESTILOS DE TODODS LOS FORMULARIOS */

/* AQUÃ APLICAMOS LOS ESTILOS DE LOGIN Y REGISTRO */

#formulariologinreg{
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 15px;
    width: 500px;
    margin: 50px auto;
    padding: 30px;
    top: 50%;
    left: 50%;
    border: 5px solid #cfbf13;
    /* transform: translate(-50%,-50%); */
    /* Esta propiedad ("transform") nos sirve para ubicar el form en el centro de manera correcta, ES DECIR en el centro (ya que nos coge como referencia la esquina de arriba a la izq y no queda bien bien en el centro)   */
}

#formulariologinreg form h3{
    color: #cfbf13;
    margin: 10px 0px 20px 20px;
    text-align: center;
    font-size: 30px;
}

#form_log{
    display: none;
}

#form_log span{
    color: #ff0000;
    font-size: 75%;

}

#formulariologinreg label{
    display: block;
    margin-bottom: 5px;
    color: #cfbf13;
}

#formulariologinreg span{
    color: #ff0000;
    font-weight: bold;
}

#formulariologinreg  input{
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    /* border: 1px solid #cfbf13; */
    box-shadow: 0px 2px 0px 0px #cfbf13;
    outline: 0;
    margin: 5px;
    border: none;
}

#formulariologinreg  input[type=text]:focus{
    /* box-shadow: 0 0 8px #cfbf13; */
    box-shadow: 0px 2px 0px 0px black;
}

#formulariologinreg input[type=button]{
    color: white;
    background-color: #cfbf13;
    margin: 25px 10px 20px 5px;
}

#formulariologinreg input[type=button]:hover{
    color: white;
    background-color: #cfbf50;
    margin: 25px 10px 20px 5px;
    cursor: pointer;
}

#formulariologinreg input:invalid,
.invalid{
    color: #ff0000;
    border: 2px solid red !important;
    box-shadow: 0px 0px 0px 0px red !important;

}
#formulariologinreg .error{
    font-size: 75%;
    color: #ff0000;
}
#formulariologinreg form p{
    text-decoration: none;
    color: blue;
    text-align: center;
}
#formulariologinreg form p span{
    text-decoration: underline;
    cursor: pointer;
}
#formulariologinreg  form p span:hover{
    font-weight: bold;
}
 #btn_log{
    border-radius: 4px;
    padding: 5px;
}

/* AQUI APLICAMOS LOS ESTILOS DE SUSCRIPCION; */
/* ________________________________________________________________________________________________________________ */
.imagenFondoSuscripc img{
    width:100%;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    z-index: -1000;
    opacity: 1;
}

#formulariosuscrip form{
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 15px;
    width: 650px;
    margin: 50px 25%;
    padding: 10px;
    background-color: white;
    border: 5px solid #cfbf13;
}
#formulariosuscrip form h3{
    color: #cfbf13;
    margin: 10px 0px 20px 20px;
    text-align: center;
    font-size: 30px;

}
#formulariosuscrip .inputs_100{
    width: 100%;
    padding: 20px 10px;
}
#formulariosuscrip .inputs_50{
    width: 50%;
    padding: 20px 10px;
    float: left;
}
#formulariosuscrip .inputs_33{
    width: 33.33%;
    padding: 20px 10px;
    float: left;
}
#formulariosuscrip label{
    display: block;
    margin-bottom: 5px;
    color: #cfbf13;
}
#formulariosuscrip input, select{
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    /* border: 1px solid #cfbf13; */
    border: none;
    box-shadow: 0px 2px 0px 0px #cfbf13;
    outline: 0;
}

#formulariosuscrip input:focus,
select:focus,
textarea:focus{
    box-shadow: 0px 2px 0px 0px black;
}

#formulariosuscrip span{
    color: #ff0000;
    font-weight: bold;
    font-size: 75%;
}
/* #formulariosuscrip textarea{
    width: 100%;
    height: 120px;
    padding: 6px 12px;
    border: 1px solid #cfbf13;
    resize: none;
    font-family: sans-serif;
    font-size: 15px;
    outline: 0;
} */
#formulariosuscrip #btn_contacto{
    width: 96.5%;
    border: 1px solid #cfbf13;
    color: white;
    font-weight: bold;
    outline: 0;
    padding: 10px;
    margin: 12px;
    background-color: #cfbf13;
}
#formulariosuscrip #btn_contacto:hover{
    width: 96.5%;
    border: 1px solid #cfbf13;
    color: white;
    font-weight: bold;
    outline: 0;
    padding: 10px;
    margin: 12px;
    background-color: #cfbf50;
    cursor: pointer;
}

.placeholder_val_ko{
    color: #ff0000;
    border: 2px solid red !important;
    box-shadow: 0px 0px 0px 0px red !important;

}
/* ESTILOS DEL INPUT TYPE FILE _____________________________________________________________*/
input[type='file']{
    margin-top: 25px !important;
    margin-bottom: 25px !important;


    /* border:none !important; */
}

/* .HIDDEN-> ES UNA CLASE QUE LE DAMOS AL INPUT FILE Y Con color: transparent, ocultamos la informacion del input file( archivo seleccionado) */
.hidden{
    /* color:transparent; */
}

/* ESTILOS IMAGEN CARGADA_________________________________________________________________ */
#preview1{
    width: 100%;
    border-radius: 50%;
    max-width: 200px;
    max-height: 200px;
    display: block;
    margin: auto;
}
