/* AQUI APLICAMOS LOS ESTILOS DE INDEX Y TAMBIEN LOS DEL MAIN */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ESTILOS PARA EL 'MENU' DE PAGINAS QUE NO SON INDEX */
header{

    font-size: 20px;
    color: grey;
    padding: 30px;
    width: 100%;
    background: #fff;
    box-shadow: 0px 4px 3px rgba(0,0,0,.5);
}

header nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;

}

ul li a{
    color: grey;
    text-decoration: none;
    font-family: sans-serif;
    letter-spacing: 2px;
}

ul li a:hover{
    /* font-weight: bold; */
    color: #cfbf13;
}

ul li {
    list-style: none;
}

/* ESTILOS PARA DEJAR FOOTER ABAJO */


/*deja el footer abajo*/
/* html, body{
    height: 100%;
}

body{

    display: flex;
    flex-direction: column;
}

main{
    flex: 1 0 auto;
    margin-bottom: 100px;
    margin-top: 20px;
}  */
