{% extends "base.html" %}

{% block title %}Curiosidades{% endblock %}

{% block headLinks %}
<link rel="stylesheet" href="public/css/menuRestoPaginas.css">
<link rel="stylesheet" href="public/css/curiosidades.css">
<link href="https://fonts.googleapis.com/css?family=Kranky&display=swap" rel="stylesheet">
<link rel="stylesheet" href="public/css/responsive.css">
{% endblock %}

{% block main %}
<main>
    <div class="imagenFondoCuriosidades">
        <img src="public\img\142.jpg" alt="">
    </div>
    <!-- <div class="titulocurios">
        <img src="public/img/curiosidades/titulocuriosidades.jpg" alt="">
    </div> -->
    <div class="container_curiosidades">

        <div class="curiosidadesizq">
            <div class="textocurios">
                <h2>Fue el primer vegetal cultivado en el espacio</h2>
                <p>Fue en 1995 cuando astronautas americanos plantaron este túberculo por primera vez en el espacio en uno de sus viajes. Con las patatas espaciales se puede alimentar a la tripulación, a nuevas colonias humanas o, quién sabe, a vecinos espaciales.</p>
            </div>
            <div class="imagenescurios">
                <img src="public/img/curiosidades/01.jpg" alt="">
            </div>
        </div>

        <div class="curiosidadesdcha">
            <div class="imagenescurios">
                <img src="public/img/curiosidades/02.jpg" alt="">
            </div>
            <div class="textocurios">
                <h2>Tiene su propio museo</h2>
                <p>En Idaho este tubérculo levanta tantas pasiones que le han erigido un museo llamado The Potato Museum. También cuenta con otros museos a lo largo y ancho del mundo.</p>
            </div>
        </div>

        <div class="curiosidadesizq">
            <div class="textocurios">
                <h2>Quita las manchas de la ropa</h2>
                <p>
                    Las enzimas de la patata “quitan hasta las manchas más difíciles”. Probadlo, sólo has que frotar la patata sobre las manchas secas de las prendas antes de meter en la lavadora. Ala, comerse la patata después de eso…
                </p>
            </div>
            <div class="imagenescurios">
                <img src="public/img/curiosidades/03.jpg" alt="">
            </div>
        </div>


        <div class="curiosidadesdcha">
            <div class="imagenescurios">
                <img src="public/img/curiosidades/04.jpg" alt="">
            </div>
            <div class="textocurios">
                <h2>Las bolsas de patatas chips, no llevan aire</h2>
                <p>
                    En realidad las bolsas de patatas chips no están hinchadas por aire, sino que lo que llevan en su interior es gas nitrógeno, el cual ayuda a que se mantengan frescas y crujientes durante mucho más tiempo.
                </p>
            </div>
        </div>

        <div class="curiosidadesizq">
            <div class="textocurios">
                <h2>Es combustible para vehículos</h2>
                <p>El almidón de la patata se puede licuar y obtener etanol, base para la producción de combustible. ¡Una moto a patatas!</p>
            </div>
            <div class="imagenescurios">
                <img src="public/img/curiosidades/05.jpg" alt="">
            </div>

        </div>


        <div class="curiosidadesdcha">
            <div class="imagenescurios">
                <img src="public/img/curiosidades/06.jpg" alt="">
            </div>

            <div class="textocurios">
                <h2>Si tienes un caballo…  ¡No le des nunca patatas!</h2>
                <p>La patatas, aunque sean increíblemente buenas para nosotros, para nuestros amigos los caballos son muy tóxicas.</p>
            </div>
        </div>

        <div class="curiosidadesizq">
            <div class="textocurios">
                <h2>Existe vodka de patata</h2>
                <p>Antes muchos vodkas se hacían con patatas fermentadas. A día de hoy esta práctica sólo sigue siendo común en Polonia. ¡Y este año también en Galicia! Ah, tampoco es recomendable darle esto a tu caballo…</p>
            </div>
            <div class="imagenescurios">
                <img src="public/img/curiosidades/07.jpg" alt="">
            </div>

        </div>


        <div class="curiosidadesdcha">
            <div class="imagenescurios">
                <img src="public/img/curiosidades/08.jpg" alt="">
            </div>

            <div class="textocurios">
                <h2>Hay 5.000 variedades de patatas en el mundo.</h2>
                <p>No las hemos contado, pero la FAO sí, y afirma que la mayoría están en Perú, donde existen unas 200 especies silvestres, 4 de ellas cultivables, y 5.000 variedades.</p>
            </div>
        </div>

        <div class="curiosidadesizq">
            <div class="textocurios">
                <h2>Fue utilizada como moneda</h2>
                <p>Otra curiosidad que nos deja la patata es que fue utilizada en Alaska como moneda.
                </p>
            </div>
            <div class="imagenescurios">
                <img src="public/img/curiosidades/09.jpg" alt="">
            </div>

        </div>

    </div>
</main>


{% endblock %}
